*, body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    
    var-accent: orange;
    color: aliceblue;
    var-bg: hsl(0,0%,22%);
    background-color: var(bg);
    background-color: hsl(0,0%,22%);
}

body {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

#container {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease 0s,
                opacity 0 ease 0;
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
}

#container.loaded {
    opacity: 1;
}

section {
    var-leftpadding: 1em;
    
    width: 100%;
    height: 100%;     
    border-left: var(leftpadding) solid var(accent);
    border-left: 1em solid orange;
    position:relative;
    padding: 1.3em;
    line-height: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}

figcaption {
    display: none;
}

section.full {
    padding: 0;
}

section.example > code {
    margin: 0 -1.3em;
}

section article {
    width:100%;
    display:flex;
    align-items: stretch;
    transition: all 0.5s ease;
}

section article > * {
    display:block;
    flex: 0 0 90%;
}

pre code {
    min-height: 100%;
}

section header {
    position: relative;
}

section header::after {
    content:"";
    display:block;
    border-left: var(leftpadding) solid var(accent);
    border-bottom: var(leftpadding) solid transparent;
    border-top: var(leftpadding) solid transparent;
    
    border-left: 1em solid orange;
    border-bottom: 1em solid transparent;
    border-top: 1em solid transparent;
    
    position: absolute;
    top: 0.2em;
    left: -1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    font-size: 1em;
    line-height: 100%;
    margin-bottom: 0.2em;
    color: var(accent);
    color:orange;
}

h1 {
    font-size: 2em;
}

h2 {
    margin-bottom: 1em;
}

h3 {
    text-align: center;
}

p {
    margin: 1em 0 0 1em;
    font-size: 0.7em;
    align-self: center;
}

iframe {
    height: 100%;
    width:100%;
}

code {
    white-space: pre-wrap;
    font-size: 0.5em;
    padding-left: 2em;
    background: none !important;
}

pre {
    background: rgba(0,0,0,0.5);
}

p > code {
    font-size: 1em;
    padding: 0 0.3em;
    margin:0 !important;
    background: rgba(0,0,0,0.5) !important;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0.5em;
    position:relative;
}

li::before {
    content: "";
    display: block;
    border-left: 0.3em solid white;
    border-bottom: 0.2em solid transparent;
    border-top: 0.2em solid transparent;
    position: absolute;
    top: 0.4em;
    left: -1em;
}

footer {
    margin: 1em 0 0 0;
}

footer ul {
    margin-left: 2em;
}

footer li {
    margin-bottom: 0;
}

footer p {
    margin: 0;
}

#slides {
    overflow:hidden;
    position: relative;
    flex-grow: 1;
}

#notes {
    font-size: 0.5em;
    font-family: monospace;
    flex-basis: 50%;
    flex-shrink:1;
    flex-grow: 1;
    overflow-y: scroll;
}

#controls {
    border-top: 1px solid hsl(0,0%,22%);
    border-top: 1px solid var(bg);
    flex-grow: 0;
    flex-basis: 260px;
    display: flex;
    display:none;
    opacity:1;
    flex-direction: column;
}

body.controls #controls {
    display:flex;
}

#controls #arrows {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
}

#controls #arrows div {
    flex-basis: 50%;
    text-align:  center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    background: var(accent);
    opacity: 0.5;
}

#controls #arrows div:active {
    opacity: 1;
}

#controls #arrows div::after {
    content: "";
    display: block;
}

#controls #arrows #left-arrow::after {
    border-right: 1em solid hsl(0,0%,22%);
    border-bottom: 1em solid transparent;
    border-top: 1em solid transparent;
}

#controls #arrows #right-arrow::after {
    border-left: 1em solid hsl(0,0%,22%);
    border-bottom: 1em solid transparent;
    border-top: 1em solid transparent;
}